body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #222222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.search-container {
    margin: 20px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tfoot {
    font-weight: bold;
}
